@import "resets/reset";
@import "colors";

.main {
  display: flex;
}

// === SIDEBAR === 
.sidebar {
  //position: fixed;
  background-color: $primary-blue;
  color: white;
  left: 0;
  max-height: 100%;
  min-height: 100vh;
  min-width: 20%;
  width: 20%;

  a {
    color: #fff;
    display: block;
  }

  &__header {
    background-color: $secondary-blue;
    padding: 1rem;
    text-align: center;
  }

  &__links {

    li {
      border-bottom: 1px solid $light-grey;

      i {
        margin-right: .5rem;
      }

      a {
        padding: 1rem;
        transition: padding-left .4s ease;

        &:hover {
          background-color: $secondary-blue;
          padding-left: 1.5rem;
        }
      }
    }
  }
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
  width: 80%;

  h1 {
    color: #444;
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
  }
}

